.question {
  background: #fefefe;
  border-radius: 8px;
  box-shadow: 0 2px 12px rgba(0,0,0,0.04);
  padding: 24px;

  & + & {
    margin-top: 8px;
  }

  p {
    color: #29292e;
  }

  &.answered {
    background: #DBDCDD;
  }

  &.highlighted {
    background: #F4F0FF;
    border: 1px solid #835afd;

    footer .user-info span { color: #29292e }
  }

  footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 24px;

    .user-info {
      display: flex;
      align-items: center;

      img {
        width: 32px;
        height: 32px;
        border-radius: 50%;
      }

      span {
        margin-left: 8px;
        color: #737380;
        font-size: 14px;
      }
    }

    > div button + button {
      margin-left: 16px;
    }
    
    button {
      border: 0;
      background: transparent;
      cursor: pointer;

      &.like-button {
        display: flex;
        align-items: flex-end;
        color: #737380;

        svg {
          margin-left: 8px;
          transition: filter 0.2s;
        }

        &.liked {
          color: #835afd;

          svg path {
            stroke: #835afd;
          }
        }
      }

      & svg:hover {
        filter: brightness(0.6);
      }
    }
  }
}

@media screen and (max-width: 360px) {
  .question:not(.answered) {
    footer {
      flex-direction: column;
      margin-top: 16px;

      .user-info { 
        align-self: flex-start;
        margin-bottom: 16px;
      }
    }
  }
}